# =====================
# Python (FastAPI)
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Node / Nuxt
# =====================
node_modules/
.nuxt/
dist/

# =====================
# OS / Editor
# =====================
.DS_Store
.vscode/
.idea/

# =====================
# Env files (future)
# =====================
.env
.env.local
