fastapi==0.109.0
uvicorn[standard]==0.27.0
openpyxl==3.1.2

# Future iterations (uncomment when needed):
# -----------------------------------------
# Database
# sqlalchemy==2.0.25
# asyncpg==0.29.0

# ML/Data Science
numpy==2.4.1
pandas==3.0.0
matplotlib==3.10.8
tensorflow==2.20.0
tensorflow-hub==0.16.1
mediapipe==0.10.32
opencv-python==4.13.0.90
ImageIO[ffmpeg]==2.37.2
# scikit-learn==1.4.0

# Environment management
# python-dotenv==1.0.0
